# Configurações de Autenticação
SECRET_KEY=sua_chave_secreta_aqui

# API 2Captcha
CAPTCHA_API_KEY=sua_chave_api_2captcha_aqui

# Configurações do Playwright
HEADLESS=False

# Configurações de CORS (domínios permitidos, separados por vírgula)
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000


